@model ProjetoEventoFF.MVC.ViewModels.EquipeViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Equipe</h2>

<div>
    <h4>Detalhes da equipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.EquipeId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
